main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 20px 20px;
  grid-template-areas:
    "header header header header header"
    "results images images images images"
    "results images images images images"
    "results images images images images"
    "results text text text text"
    "results text text text text"
    "footer footer footer footer footer";
  margin: auto;
  max-width: 1400px;

}
body {
  border: 1px solid black;
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}
header {
  grid-area: header;
  font-size: xxx-large;
  text-align: center;
  margin-top: 50px;
  border-radius: 25px;
  background-color: lightslategray;
  padding-top: 30px;
  height: 80px;
  border: 5px solid black;


}
p{
  line-height: 25px;
}
button {
  margin-left: 510px;
  margin-bottom: 50px;
}
#results {
  grid-area: results;
  border-radius: 25px;
  background-color: lightslategray;
  font-size: larger;
  padding: 10px;
  height: 560px;
  border: 5px solid black;
}
footer {
  grid-area: footer;
}
#images {
  grid-area: images;
  border-radius: 25px;
  background-color: lightslategray;
  border: 5px solid black;
  }
#text {
  grid-area: text;
  margin-right: 30px;
  margin-top: 30px;
  font-size: larger;
  padding-left: 40px;
  border-radius: 25px;
  background-color: lightslategray;
  padding-bottom: 40px;


}

#images img {
  width: 250px;
  height: 250px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 53px;
  margin-right: 53px;
  flex-grow: 1;
  border-radius: 25px;
  border: 5px solid black;

}

